@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Teko:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  max-width: 100%;
  height: 90vh;
  margin: 0 1rem;
  background-color: #42378f;
  position: relative;
}
.timerPageField {
  z-index: 0;
}
.naslovField {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "poppins";
  margin-top: 2rem;
}
.naslovField h1 {
  color: #01ced1;
  font-size: 2.5rem;
  text-shadow: white 0.3px 0.4px;
}
.aboutTimerField {
  width: 100%;
  max-width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3rem auto;
}
.aboutTimerField button {
  width: 5rem;
  height: 2.8rem;
  padding: 1rem;
  margin: auto 1rem;
  border: 1px black solid;
  border-radius: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  cursor: pointer;
  background-color: #01ced1;
  color: rgb(0, 0, 0);

  font-family: "poppins";
  font-size: 1rem;
}

.timeField {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 300px;
  margin: auto;
  border-radius: 50%;
  background: radial-gradient(circle, rgb(118, 99, 248) 20%, #01ced1 80%);
  border: black 2px dotted;
  box-shadow: 0 0 5px 5px rgb(106, 84, 253), 0 0 5px 5px rgb(161, 148, 247);
}
.clockTimer {
  font-size: 2.6rem;
  font-family: "poppins";
  padding: 2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 60%;
}
.timeField h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: "poppins";
}
.clockType {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10% auto;
  width: 100%;
}
.clockType button {
  padding: 3%;
  font-size: 1.8rem;
  background-color: #01ced1;
  color: white;
  text-shadow: #000000 1.4px 1.4px;
  font-weight: 600;
  font-family: "teko";
  border: none;
  border-radius: 20%;
  cursor: pointer;
  outline: none;
  box-shadow: inset 5px 5px 10px #000000, inset -5px -5px 10px #000000;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clockType button:hover {
  transition: 1s;
}
.clockType button:focus {
  box-shadow: inset #000000 3px 3px;
  text-shadow: #000000 0px 0px;
}
#configBtn {
  font-size: 4rem;
  cursor: pointer;
  color: #01ced1;
}
#configBtn:hover {
  animation: settings 3s infinite;
}
@keyframes settings {
  100% {
    transform: rotate(360deg);
  }
  0% {
    transform: rotate (0deg);
  }
}

/*          MODAL           */

.modal-settings {
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  z-index: 90;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.849);
  position: absolute;
  top: 4rem;
  left: 0rem;
  transition: 1s ease-in;
  font-family: "teko";
}

.naslovModalField {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.6rem;
  color: rgb(54, 25, 248);
  margin-top: 1.2rem;
}
.closeSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  font-size: 3rem;
  color: rgb(54, 25, 248);
  margin-top: 1.4rem;
}
#closeBtn {
  cursor: pointer;
}
.configTime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  margin-top: 0.5rem;
}
.configTime h3 {
  color: #776dbe;
  display: block;
  height: 40%;
}
.configTime input {
  width: 80%;
  height: 3rem;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
}
.configTime input::placeholder {
  text-align: center;
  font-family: "teko";
}
.smallBreakConfig h3 {
  color: rgb(7, 197, 0);
}
.longBreakConfig h3 {
  color: red;
}
.fontConfig,
.colorConfig {
  width: 100%;
  height: 15%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
}
.colorConfig {
  margin-top: 0.5rem !important;
}
.fontConfig h3,
.colorConfig h3 {
  font-family: "teko";
  font-size: 1.6rem;
  margin-top: 1rem;
}
.btnSectionFont,
.btnSectionColor {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 15%;
  height: 40%;
}
.fontConfig button {
  width: 10%;
  font-family: "poppins";
  height: 10%;
  padding: 1.6rem;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.bigBtnSize {
  font-size: 1.6rem;
  font-weight: 600;
}
.mediumBtnSize {
  font-size: 1rem;
  font-weight: 500;
}
.smallBtnSize {
  font-size: 0.6rem;
  font-weight: 400;
}
.btnSectionColor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 50%;
}

.color {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  content: "";
  outline: none;
  margin: 1%;
}
.purpleBlue {
  background: linear-gradient(to top left, #7663f8 50%, #01ced1 50%);
}
.blackWhite {
  background: linear-gradient(to top left, #ffffff 50%, #000000 50%);
}
.redGray {
  background-image: linear-gradient(315deg, #d4d4d4 50%, #ee5253 50%);
}
.greenYellow {
  background: linear-gradient(to top left, #cfeb00 50%, #8aff9d 50%);
}
